@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Jomolhari&display=swap');

.narrow{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.btn-md{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
}

body{
    overflow-x: hidden;
    font-family: 'Cedarville Cursive', cursive;
    color: #505962;
}

.offset:before {
height: 3.8rem;
margin-top: -3.8rem;
content: "";
display:block;
}

/*----Navbar ---*/ 
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,6) !important;
}

.navbar-brand img{
  height: 2rem;  
}

.navbar-nav li {
    padding-right: .7rem;

}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: orangered;
}

/*--- Slider ----*/

.carousel-item{
    height: 100vh;

}

.carousel-caption{
position: absolute;
top: 38%;
text-transform: uppercase;
width: 100%;
right: 0;
left: 0;
}

.carousel-caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;

}

.carousel-caption h1{
font-size: 2rem;
text-shadow: .1rem .1rem .5rem black;
padding-bottom: 1.6rem;

}

.btn-lg {
    border-width: medium; 
    border-radius: 0;
    font-size: 1.1rem;

}

/*portfolio area */

.jumbotron{
    border-radius: 0;
    padding: 3rem 0 2rem;

}

h3.heading {
font-size: 1.9rem;
font-weight: 700;
text-transform: uppercase;
padding-bottom: 1.9rem;
}

.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: orangered;
    margin: 0 auto 2rem;
}

.portfolio img{
    max-width: 100%;

}

.row.no-padding [class*=col-]{
    padding: 0;

}

.portfolio img:hover{
transform: scale(1.1);
cursor: zoom-in;
}

/*================ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) {...}

ExtraL (xl) devices (large desktops, 1200px and up)
@media (min-width: 1200px) {...}
